export default function MainLayout() {
  return (
    <div className="flex h-screen">
      <Sidebar />  {/* kiri */}

      <div className="flex-1 flex flex-col">
        <Navbar />
        <main className="p-6 overflow-y-auto flex-1">
          <Outlet />
        </main>
      </div>
    </div>
  );
}
